import(ggplot2)
importFrom(MASS, write.matrix)
importFrom(mvtnorm, rmvnorm)
importFrom(nlme, fdHess)
importFrom(dplyr, rbind_all, rbind_list)
importFrom(codetools, findGlobals)
exportPattern("^[[:alpha:]]+")
